@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Poppins:wght@400;500;600;700&display=swap');

@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins-Regular.ttf);
}

:root {
    /* for color theme */
    --color-hue_1: 216;
    --color-hue_2: 90%;
    --color-hue_3: 44%;

    /* for background theme */
    --color-light-lightness: 95%;
    --color-dark-lightness: 17%;
    /* --color-black-lightness: 10%; */
    --color-white-lightness: 100%;


    --color-white: hsl(252, 30%, var(--color-white-lightness));
    --color-light: hsl(252, 30%, var(--color-light-lightness));
    --color-gray: hsl(252, 15%, 65%);
    /* --color-primary: hsl(252, 75%, 60%); */
    --color-primary: hsl(var(--color-hue_1), var(--color-hue_2),var(--color-hue_3));
    --color-orange: hsl(27,100%,59%);
    --color-rouge: hsl(347,100%,50%);
    --color-vert: hsl(120, 95%, 40%);
    --color-bleu: #0b5ed7;
    /* --color-orange: #ff8c2e;
    --color-rouge: #FF0037;
    --color-vert: #51FB51; */
    --color-secondary: hsl(252, 100%, 90%);
    --color-danger: hsl(0, 95%, 65%);
    --color-dark: hsl(252, 30%, var(--color-dark-lightness));
    --color-black: hsl(252, 30%, var(--color-black-lightness));

    --border-radius: 2rem;
    --card-border-radius: 1rem;
    --btn-padding: 0.6rem 2rem;
    --search-padding: 0.6rem 1rem;
    --card-padding: 1rem;

    --sticky-top-left: 5.4rem;
    --sticky-top-right: -18rem;
}

*, *::before, *::after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none !important;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif !important;
    color: var(--color-dark) !important;
    background: var(--color-light);
    overflow-x: hidden;
}

h1, h2, h3,
h4, h5, h6, a{
    color: var(--color-dark);
    margin-bottom: 0;
}


/* general styles */

/* .container {
    width: 80% !important;
    margin: 0 auto;
} */

.profile-photo{
    width: 2.7rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
    border: var(--color-primary) dashed 1px;
}
img{
    display: block;
    width: 100%;
}

.btn{
    display: inline-block;
    padding: var(--btn-padding);
    font-weight: 500;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 0.9rem;
    border: none;
}

.btn:hover{
    opacity: 0.8;
    background-color: var(--color-primary) !important;
}

.btn-primary{
    background-color: var(--color-primary) !important;
    color: #fff;

}

.text-bold{
    font-weight: 500;
}

.text-muted{
    color: var(--color-gray);
}



/* =============== NAVBAR ================== */

nav{
    width: 100%;
    background: var(--color-white);
    padding: 0.7rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .log{
    position: relative;
    margin-bottom: 0 !important;
}

nav .log img{
    position: absolute;
    width: 10rem;
    top: -1.5rem;
}

.searchNav .result .search-bar{
    display: none;
}

.search-bar{
    background: var(--color-light);
    border-radius: var(--border-radius);
    padding: var(--search-padding);
    cursor: pointer;
}

.search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 0.9rem;
    color: var(--color-dark);
    border: none;
}

nav .search-bar input[type="search"]::placeholder{
    color: var(--color-gray);
}

nav .create{
    display: flex;
    align-items: center;
    gap: 2rem;
}


/* resultat recherche */

.middle {
    position: relative;
}
.middle .searchNav{
    border-radius: var(--card-border-radius);
    background: var(--color-white);
    padding: 0.1rem 1rem;
    box-shadow: 0 0 0.3rem var(--color-primary);
    /* position: absolute;
    top: -1rem; */
    top: 4rem;
    z-index: 12;
    /* width: 100%; */
    position: fixed;
    display: flex;
    left: 25%;
    right: 25%;
    display: none;
}

.middle .searchNav.active{
    display: block;
}

.searchNav .result{
    width: 100%;
}

/* .result .to-search-project{
    display: none;
} */

.searchNav .result a{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 0.8rem;
    padding: var(--card-padding);
}
.searchNav .result a:hover{
    background: var(--color-light);
    border-radius: var(--card-border-radius);
}
.searchNav .result a:last-child{
    margin-bottom: 0;
}

.searchNav .result a .profile-photo{
    width: 2rem;
}
.searchNav .result a h3{
    font-size: 0.9rem;
    font-weight: 600;
}
.searchNav .result a small{
    font-size: 0.7rem;
}
.searchNav .result a h5{
    font-size: 0.8rem;
}

/* @media screen and (min-width: 1201px) {
    nav .searchNav .result{
        top: 4rem;
        width: 40vw;
    }
    nav .searchNav{
        margin-left: 22vw;
        margin-right: 30vw;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    nav .searchNav .result{
        top: 4rem;
        width: 70vw;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (max-width: 767px) {
    nav .searchNav .result{
        top: 4rem;
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
} */


/* ============== MAIN ================ */

main{
    position: relative;
    top: 5.4rem;
}

main .container{
    display: grid;
    grid-template-columns: 18vw auto 20vw;
    column-gap: 2rem;
    position: relative;
}



/* ========================= LEFT ======================= */

main .container .left{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-left);
}

main .container .left .profile{
    padding: var(--card-padding);
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 100%;
}


main .container .left .profile .handle h4{
    /* color: blue !important; */
    font-size: 1rem !important;
}

main .container .left .profile .handle p{
    margin-bottom: 0;
}


/* ---------- sidebar ----------- */

.left .sidebar{
    margin-top: 1rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
}

.left .sidebar .menu-item{
    display: flex;
    align-items: center;
    height: 4rem;
    cursor: pointer;
    transition: all 300ms ease;
    position: relative;
}

.left .sidebar .menu-item:hover{
    background: var(--color-light);

    color: var(--color-dark);
}

.left .sidebar i{
    font-size: 1.4rem;
    color: var(--color-gray);
    margin-left: 2rem;
    position: relative;
}

.left .sidebar i .notifications-count{
    background: var(--color-primary);
    color: #fff;
    font-size: 0.7rem;
    border-radius: 0.8rem;
    padding: 0.1rem .4rem;
    position: absolute;
    top: -0.2rem;
    right: -0.3rem;
}

.left .sidebar h3{
    margin-left: 1.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.left .sidebar .active{
    background: var(--color-light);
}

.left .sidebar .active i, .left .sidebar .active h3{
    color: var(--color-primary);
}

.left .sidebar .active::before{
    content: "";
    display: block;
    width: 0.5rem;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

.left .sidebar .menu-item:first-child.active{
    border-top-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .sidebar .menu-item:last-child.active{
    border-bottom-left-radius: var(--card-border-radius);
    overflow: hidden;
}

.left .btn{
    margin-top: 1rem;
    width: 100%;
    text-align: center;
    padding: 1rem 0;
}


/* --------------- notification popup ---------------- */

.left .notifications-popup{
    position: absolute;
    top: 0;
    left: 110%;
    width: 30rem;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    box-shadow: 0 0 2rem hsl(var(--color-primary), 75%, 60% 25%);
    z-index: 8;

    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.39);
    display: none;
}

.left .notifications-popup::before{
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    display: block;
    background: var(--color-white);
    position: absolute;
    left: -0.6rem;
    transform: rotate(45deg);
}

.left .notifications-popup > div{
    display: flex;
    align-items: start;
    gap: 1rem;
    margin-bottom: 1rem;
}

.left .notifications-popup small{
    display: block;
}


/* =================== MIDDLE =================== */


/*  ------------- create post ------------------- */

.middle .create-post{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
    background: var(--color-white);
    padding: 1rem var(--card-padding);
    border-radius: var(--card-border-radius);
    cursor: pointer;
}

.middle .create-post input[type="search"]{
    justify-self: start;
    width: 100%;
    padding-left: 1rem;
    background: transparent;
    color: var(--color-dark);
    margin-right: 1rem;

    border: none;
}


/* ------------------ posts posts ------------ */

.middle .posts .post{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    margin: 1rem 0;
    font-size: 0.85rem;
    line-height: 1.5;
}

.middle .posts .post.investi{
    /* border: green solid 2px !important; */
    box-shadow: 0 0 1rem green;
}
.middle .posts .post .head h3 {
    font-size: 1.18em;
    font-weight: 600;
}

.middle .posts .post .head h5 {
    font-size: 0.8rem;
    font-weight: 600;
}

.middle .posts .post .head{
    display: flex;
    justify-content: space-between;
}

.middle .posts .post .head .user{
    display: flex;
    gap: 1rem;
}

.middle .posts .post .head .edit{
    cursor: pointer;
    font-size: 1.1rem;
}
.middle .posts .post .head .edit:hover{
    background-color: var(--color-primary);
    color: #fff;
    border-radius: 50%;
}

.middle .posts .post .post-description{
    padding: 0 0.8rem 0 0.5rem;
    margin-top: 1rem;
}
.post-description .post-title h5{
    font-size: 0.9rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.post-description a {
    color: var(--color-primary);
    font-weight: 600;
}

.middle .posts .post .photo{
    border-radius: var(--card-border-radius);
    overflow: hidden;
    margin: 0.7rem 0;
    max-height: 320px !important;
    border: var(--color-primary) dashed 1px;
}

.middle .posts .post .action-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.6rem;
}
.post .action-buttons i{
    cursor: pointer;
    transition: 0.3s;
}
.post .action-buttons i:hover{
    color: var(--color-primary);
    transition: 0.3s;
}

.action-buttons #btn-disc{
    color: var(--color-primary);
    border: var(--color-primary) dashed 1px;
    border-radius: 50%;
}

.middle .posts .post .liked-by{
    display: flex;
}

.middle .posts .post .liked-by span{
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid var(--color-white);
    margin-left: -0.6rem;
}

.middle .posts .post .liked-by span:first-child{
    margin: 0;
}

.middle .posts .post .liked-by p{
    margin-left: 0.5rem;
}

.post .comments .toggle-comments{
    cursor: pointer;
}
.post .comments .toggle-comments:hover{
    color: var(--color-primary) !important;
    text-decoration: underline !important;
}

.post .comments{
    padding-right: 1rem;
}
.post .caption{
    padding-right: 0.5rem;
}



.post .comments .list-comments{
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}
.post .comments .list-comments.active{
    height: 300px;
    overflow: scroll;
    transition: 0.5s;
}



.text-small{
    position: relative;
    font-size: 0.9rem;
    margin-left: -5px;
}

.comments .send-comment{
    height: 2rem;
    padding-top: 0.2rem;
}

.post .comments .btn-reply-comment{
    cursor: pointer;
}
.post .comments .btn-reply-comment:hover{
    color: var(--color-primary) !important;
    text-decoration: underline !important;
}

.send-comment form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.send-comment form input{
    width: 85%;
    height: 2.2rem;
    border: none;
    border-radius: var(--card-border-radius);
    background: var(--color-light);
    padding-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark) !important;
}
.send-comment form label{
    color: var(--color-primary);
    font-size: 1.5rem;
    background: var(--color-light);
    border-radius: 50%;
    padding: 2px 3px;
    cursor: pointer;
    transition: 0.3s;
}
.send-comment form label:hover{
    color: #fff;
    background: var(--color-primary);
    transition: 0.3s;
}



.reply-comment{
    height: 0;
    overflow: hidden;
    transition: 0.3s;
}
.reply-comment.active{
    height: 40px;
    transition: 0.3s;
    overflow: scroll;
}


.reply-comment form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.reply-comment form input{
    width: 85%;
    height: 2.2rem;
    border: none;
    border-radius: var(--card-border-radius);
    background: var(--color-light);
    padding-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark) !important;
}
.reply-comment form label{
    color: var(--color-primary);
    font-size: 1.5rem;
    background: var(--color-light);
    border-radius: 50%;
    padding: 2px 3px;
    cursor: pointer;
    transition: 0.3s;
}
.reply-comment form label:hover{
    color: #fff;
    background: var(--color-primary);
    transition: 0.3s;
}



/* ================= RIGHT ======================== */

main .container .right{
    height: max-content;
    position: sticky;
    top: var(--sticky-top-right);
    bottom: 0;
}

/* --------- catégories --------- */

.right .categories{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
}

.right .categories .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    font-size: 1.4rem;
}

.right .categories .heading h4, .right .discussions h4{
    font-size: 1.2rem;
    font-weight: 600;
}

.right .categories .search-bar{
    display: flex;
    margin-bottom: 1rem;
    /* overflow: hidden; */
}

.right .categories .search-bar input[type="search"]{
    background: transparent;
    width: 30vw;
    margin-left: 0.5rem;
    color: var(--color-dark);
    border: none;
    font-size: 0.8rem;
}

.right .categories .category{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.right .categories .category h6{
    width: 100%;
    text-align: center;
    border-bottom: 4px solid var(--color-light);
    padding-bottom: 0.5rem;
    font-size: 0.8rem;
    font-weight: 600;
}

.right .categories .category .active{
    border-color: var(--color-dark);
}

.right .categories 
.category .invest-projects{
    color: var(--color-primary);
}

.categories .accordion #accordion-cat{
    background: var(--color-white) !important;
}

.right .categories .project-line{
    display: flex;
    /* gap: 1rem; */
    justify-content: space-between;
    /* margin-bottom: 1rem; */
    align-items: center;
}

.right .categories .project-line:last-child{
    margin-bottom: 0;
}

.right .categories .project-line i{
    font-size: 1.2rem;
}

.right .categories .project-line h5,
.right .discussion span h5{
    font-size: 0.9rem;
    font-weight: 600;
}

.right .categories .project-line p{
    font-size: 0.8rem;
    margin-bottom: 0;
}


/* ---------- discussions ----------- */

.right .discussions h4{
    color: var(--color-gray);
    margin: 1rem 0;
}

.right .discussion{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
}

.right .discussion .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: start;
}

.right .discussion .info:last-child{
    margin-bottom: 0;
}
.right .discussion .info span h5{
    font-size: 1rem;
}
.right .discussion .info p{
    font-size: 0.8rem;
}



/* ================ COMMENTAIRES ===================== */







/* ====================== MODAL DISCUSSIONS ====================== */

.modal {
    background: rgba(255, 255, 255, 0.055) !important;
}

.modal-dialog .modal-content{
    background: var(--color-light) !important;
    box-shadow: 0 0 0.2rem var(--color-primary);
    border-radius: var(--card-border-radius) !important;
}

.modal-content .uil-multiply{
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-body .line_disc{
    display: flex;
    padding: 0;
    align-items: start;
}

.discussionMod {
    position: relative;
    background: var(--color-white);
    padding: 0.8rem var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-bottom: 0.7rem;
    height: 69px;
    overflow: hidden;
    transition: 0.3s;
}
.discussionMod h4{
    color: var(--color-gray);
    margin: 1rem 0;
}
.discussionMod .info{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    cursor: pointer;
}
.discussionMod .info p{
    font-size: 0.8rem;
}
.discussionMod span h5{
    font-size: 0.9rem;
    font-weight: 600;
}

.discussionMod.hidenn{
    display: none;
    transition: 0.3s;
}

.discussionMod.active{
    height: 400px;
    transition: 0.3s;
    overflow-y: scroll;
}


/* ------------- chat ----------- */


.avatar {
    border: var(--color-primary) dashed 1px;
}

.discussionMod .chat{
    border-top: #dee2e6 solid 1px;
    display: flex;
    flex-direction: column;
}

.chat .text-muted{
    font-size: 0.8rem;
    margin-top: 0.2rem;
}

.chat .disc-left,
.chat .disc-right{
    position: relative;
    width: 100%;
}
.chat .right-messages,
.chat .left-messages{
    margin-top: -1rem;
}

.avatar{
    width: 1.8rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}
.avatar img{
    display: block;
    width: 100%;
}

.card-text-left {
    border-radius: var(--card-border-radius);
    background: var(--color-light);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}
.card-text-right {
    border-radius: var(--card-border-radius);
    background: var(--color-primary);
    color: #fff;
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
}

.discussionMod{
    position: relative !important;
}
.modal-body .disc-send{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: 0.2rem;
    height: 3rem;
    display: none;
}
.disc-send.active{
    display: block;
}
.disc-send form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.disc-send form input{
    width: 87%;
    height: 2.2rem;
    /* border: #dee2e6 solid 1px; */
    border: none;
    border-radius: var(--card-border-radius);
    background: var(--color-light);
    padding-left: 1rem;
    font-size: 0.9rem;
    color: var(--color-dark) !important;
}
.disc-send form label{
    color: var(--color-primary);
    font-size: 1.5rem;
    background: var(--color-light);
    border-radius: 50%;
    padding: 2px 3px;
    cursor: pointer;
    transition: 0.3s;
}
.disc-send form label:hover{
    color: #fff;
    background: var(--color-primary);
    transition: 0.3s;
}

.accordion{
    background: var(--color-white) !important;
}




/* ============== champs formulaire de reation d'un post ========== */


#create_form{
    padding: 0 1rem;
}

#create_form input[type="text"],
#create_form textarea,
#create_form select{
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    border: none;
    padding: 0.4rem 1rem;
    width: 100%;
}

#create_form #image_post{
    /* background: #0b5ed7; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    border: var(--color-primary) dashed 1px;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#create_form #image_post img{
    width: 100%;
    height: 100%;
    color: #fff;
    z-index: 12;
    border: none;
    border-radius: var(--border-radius);
}

#create_form #image_post span{
    position: absolute;
    bottom: 2.2rem;
}

#create_form #image_post i{
    font-size: 100px;
    position: absolute;
    margin-top: -1rem;
    color: var(--color-primary);
}


#create_form #media_post{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: var(--color-primary) dashed 1px;
    border-radius: var(--border-radius);
    padding: 0rem var(--card-padding);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#media_post i{
    font-size: 30px;
    color: var(--color-primary);
}

#create_form #image_post:hover,
#create_form #media_post:hover{
    /* background: rgba(0, 0, 0, 0.274) !important; */
    opacity: 0.8;
}

input, textarea, select{
    color: var(--color-dark) !important;
}
select{
    padding-right: 1rem !important;
}











@media (min-width: 576px){
    .modal-dialog {
        max-width: 400px;
        margin: 1.75rem auto;
    }
}

@media (max-width: 576px){
    .modal-dialog {
        position: relative;
        width: 90%;
        margin: 0.5rem auto;
        pointer-events: none;
    }
    .discussionMod .info p{
        font-size: 0.7rem;
    }
    .discussionMod span h5{
        font-size: 0.9rem;
    }
}







/* ================ THEME CUSTOMMIZATION ================ */

.customize-theme{
    /* background: rgba(255, 255, 255, 0.5); */
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    text-align: center;
    display: grid;
    place-items: center;
    font-size: 0.9rem !important;

    display: none;
}

.customize-theme .carte{
    background: var(--color-white);
    padding: 2rem 3rem 3rem;
    border-radius: var(--card-border-radius);
    width: 50%;
    box-shadow: 0 0 1rem var(--color-primary);
}

.customize-theme .carte .bt-close{
    display: flex;
    justify-content: end;
    position: relative;
    top: -10px;
    right: -20px;
    font-size: 1.5rem;
}
.customize-theme .carte .bt-close i{
    cursor: pointer;
}

.customize-theme .carte h2{
    font-size: 1.45rem;
    font-weight: 600;
}
.customize-theme .carte p{
    font-size: 0.9rem;
    font-weight: 600;
}
.customize-theme .carte h4{
    font-size: 0.9rem;
    font-weight: 600;
}
.customize-theme .carte h5{
    font-size: 0.8rem;
    font-weight: 600;
}


/* ------------- font size --------------- */

.customize-theme .font-size{
    margin-top: 3rem;
}

.customize-theme .font-size > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
}

.customize-theme .choose-size{
    background: var(--color-secondary);
    height: 0.3rem;
    width: 100%;
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.customize-theme .choose-size span{
    width: 1rem;
    height: 1rem;
    background: var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .choose-size span.active{
    background: var(--color-primary);
    width: 1.2rem;
    height: 1.2rem;
}


/* --------------- primamry colors -------------------- */

.customize-theme .color{
    margin-top: 2rem;
}

.customize-theme .choose-color{
    background: var(--color-light);
    padding: var(--search-padding);
    border-radius: var(--card-border-radius);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.customize-theme .choose-color span{
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    cursor: pointer;
}

.customize-theme .choose-color span:nth-child(1){
    background: var(--color-bleu);
}

.customize-theme .choose-color span:nth-child(2){
    background: var(--color-orange);
}

.customize-theme .choose-color span:nth-child(3){
    background: var(--color-rouge);
}

.customize-theme .choose-color span:nth-child(4){
    background: var(--color-vert);
}

.customize-theme .choose-color span.active{
    border: 5px solid #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.568);
}


/* ------------------ bacground ------------------------- */

.customize-theme .background{
    margin-top: 2rem;
}
.customize-theme .choose-bg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.customize-theme .choose-bg > div{
    padding: var(--card-padding);
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 0.4rem;
    cursor: pointer;
    height: 3rem;
}

.customize-theme .choose-bg > div.active{
    border: 2px solid var(--color-primary);
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.452);
}

.customize-theme .choose-bg .bg-1{
    background: white;
}

.customize-theme .choose-bg .bg-2{
    background: hsl(252, 30%, 17%);
}
.customize-theme .choose-bg .bg-2 h5{
    color: white;
}

.customize-theme .choose-bg .bg-3{
    background: hsl(252, 30%, 10%);
}

.customize-theme .choose-bg .bg-1 h5{
    color: black;
}
.customize-theme .choose-bg .bg-3 h5{
    color: white;
}

.customize-theme .choose-bg > div span {
    width: 2rem;
    height: 2rem;
    border: 2px solid var(--color-gray);
    margin-right: 0.8rem;
    border-radius: 50%;
}



/* 
===================================
MEDIA QUERIES FOR SMAL LAPTOP AND BIG TABLETS 
===================================*/

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .container{
        width: 96% !important;
    }


    main .container{
        grid-template-columns: 5rem auto 30vw;
        gap: 1rem;
    }

    .left{
        width: 5rem;
        z-index: 5;
    }

    main .container .left .profile{
        display: none;
    }

    .sidebar h3{
        display: none;
    }

    .left .btn{
        display: none;
    }

    .customize-theme .carte{
        width: 70vw;
    }

    .middle .searchNav{
        left: 25%;
        right: 25%;
    }
}


/* 
===================================
MEDIA QUERIES FOR SMAL TABLETS
===================================*/

@media screen and (max-width: 991px) and (min-width: 768px) {
    nav .log img{
        position: absolute;
        width: 8rem;
        top: -1rem;
        left: -1rem;
    }

    main .container{
        grid-template-columns: auto auto 8rem;
        gap: 0 !important;

        width: 80% !important;
    }

    main .container .right{
        display: none;
    }


    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    main .container .left .profile{
        display: none;
    }

    .sidebar h3{
        display: block;
    }

    .left .btn{
        display: none;
    }

    .left{
        width: 13rem;
        z-index: 5;
    }

    .left .sidebar i{
        font-size: 1.4rem;
        color: var(--color-gray);
        margin-left: 1rem;
        position: relative;
    }

    .left .sidebar .menu-item{
        height: 4rem;
    }

    .left .sidebar{
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.479);
    }

    .middle .searchNav{
        left: 20%;
        right: 20%;
    }
}



/* 
===================================
MEDIA QUERIES FOR MOBILE PHONES
===================================*/

@media screen and (max-width: 767px) {
    
    nav .search-bar input {
        display: none;
    }
    .searchNav .result .search-bar{
        display: block;
    }
    .searchNav .result .search-bar input[type="search"]{
        width: 95% !important;
    }

    nav .log img{
        position: absolute;
        width: 8rem;
        top: -1rem;
        left: -1rem;
    }

    nav .create{
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-right: 10px;
    }

    main .container{
        grid-template-columns: 90vw auto 5rem;
        gap: 0 !important;

        width: 80%;
        margin: 0 20px 0 0;
    }

    main .container .right{
        display: none;
    }


    main .container .left{
        grid-column: 3/4;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    main .container .left .profile{
        display: none;
    }

    .sidebar h3{
        display: none;
    }

    .left .btn{
        display: none;
    }

    .left{
        width: 4rem;
        z-index: 5;
    }

    .left .sidebar i{
        font-size: 1.4rem;
        color: var(--color-gray);
        margin-left: 1rem;
        position: relative;
    }
    
    .left .sidebar .menu-item{
        height: 4rem;
        opacity: 1;
    }

    .left .sidebar{
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.479);
    }


    /* ----------- notification popup ----------- */

    .left .notifications-popup{
        position: absolute;
        left: -17rem;
        width: 18rem;
    }

    .left .notifications-popup .notifications-body{
        font-size: 0.8rem;
    }

    .left .notifications-popup::before{
        display: absolute;
        top: 1.3rem;
        left: calc(20rem - 2.6rem);
        display: block;
    }

    
    
    .customize-theme .carte .bt-close{
        right: -10px;
        font-size: 1.5rem;
    }

    .customize-theme .carte{
        width: 90vw;
        padding: 2rem 2rem 3rem;
    }
    
    .customize-theme .choose-bg > div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
        font-size: 1rem;
        height: auto;
    }

    .middle .searchNav{
        left: 10%;
        right: 10%;
    }

}



/* ================== pages profile =============== */

.profile-info {
    background: var(--color-white);
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.create-post.infos{
    background: var(--color-primary) !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    color: #fff;
    font-size: 1.4rem;
    opacity: 0.8;
}

.profile-info .contacts i {
    color: var(--color-primary);
    font-size: 1.3rem;
}



