{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"> -->
        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css"> -->

        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.6/css/unicons.css">
        
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/all.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-icons.css' %}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        
        <!-- <script   src="https://code.jquery.com/jquery-3.1.1.min.js"   integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="   crossorigin="anonymous"></script> -->
        <script src="../static/js/jquery-3.1.1.min.js"></script>
        
        <title> {% block title %}  {% endblock %} </title>

    </head>
    <body class="">
        {% block header %} 

        {% endblock %}

	    {% block content %} 

        {% endblock %}

        {% block footer %}

        {% endblock %}

        
        <!-- Button trigger modal -->
        {% comment %} <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#registerModal">
            Launch demo modal
        </button> {% endcomment %}

        <!-- Modal -->
        <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registerModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
                </div>
            </div>
        </div>

        <!-- Modal for reset password -->
        <div class="modal fade" id="mdp_oublie" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Mot de passe oublié</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <style>
                        .choix h6{
                            font-weight: 700;
                        }
                        .choix p{
                            font-size: .9rem;
                            padding: 10px 15px;
                            font-weight: 500;
                            border-radius: 10px;
                        }
                        .choix.question p{
                            border: 2px solid #ff8c2e;
                            background: #ff8c2e54;
                        }
                        .choix.email p{
                            border: 2px solid #0b5ed7;
                            background: #0b5dd741;
                        }

                        .types{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                        }
                    </style>
                    <div class="container">
                        <div class="row">
                            <form action="" method="post">
                                {% csrf_token %}
                                <div class="col-md-10 offset-md-1">
                                        <div class="types">
                                            <div class="choix question">
                                                <h6><i class="fa-solid fa-clipboard-question"></i> Question de sécurité</h6>
                                                <p>
                                                    <a href="{% url 'reset_pwd' %}">Cliquez ici</a> pour répondre à la question de sécurité (à poser en cas d'oublie du mot de passe) 
                                                    que vous avez définie lors de votre inscription. 
                                                </p>
                                            </div>
                                            <div class="mt-3 choix email">
                                                <h6><i class="fa-solid fa-envelope-circle-check"></i> Méthode par email</h6>
                                                <p>
                                                    <a href="{% url 'reset_pwd' %}">Cliquez ici</a> puis renseignez votre adresse email et vous recevrez un lien vers la 
                                                    page de réinitialisation.
                                                </p>
                                            </div>
                                        </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            </div>
        </div>





        <!-- Bootstrap core JS-->
        
        <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
        <script src="../static/js/script.js"></script>
        <script src="../static/js/clipboard.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
      </body>
</html>
